SUPABASE_URL=https://sxpynaopbvsjfxfkrgeu.supabase.co
EXPO_PUBLIC_SUPABASE_URL=https://sxpynaopbvsjfxfkrgeu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4cHluYW9wYnZzamZ4ZmtyZ2V1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0ODM1NTcsImV4cCI6MjA5MzA1OTU1N30.3HjofYHwN6Au5axfUyxhSIIZFao7mzaNL61YPq-fTN8
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4cHluYW9wYnZzamZ4ZmtyZ2V1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0ODM1NTcsImV4cCI6MjA5MzA1OTU1N30.3HjofYHwN6Au5axfUyxhSIIZFao7mzaNL61YPq-fTN8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4cHluYW9wYnZzamZ4ZmtyZ2V1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ4MzU1NywiZXhwIjoyMDkzMDU5NTU3fQ.I51KyIfNxpKXswLo_6mJGVxU-WUzA8GratfDC5Bil3Y
PORT=3000
NODE_ENV=production